<form method="post" action="{{ path('app_sujet_delete', {'idSujet': sujet.idSujet}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sujet.idSujet) }}">
    <button class="btn btn-secondary btn-sm">Supprimer</button>
</form>
