<div class="row justify-content-center">
	<div class="col-md-8 text-center">
		<ol>
			<li>1* Respectez les autres membres du forum. Pas d'insultes, de harcèlement ou de discrimination.</li>
			<li>2* Les propos racistes, sexistes, homophobes ou discriminatoires de toute nature sont interdits.</li>
			<li>3* Pas de spam ou de publicité non sollicitée.</li>
			<li>4* Les contenus choquants, violents, ou à caractère pornographique sont interdits.</li>
			<li>5* Pas de langage vulgaire, injurieux ou offensant.</li>
			<li>6* Le partage de fichiers ou de liens illégaux est interdit.</li>
			<li>7* Respectez la propriété intellectuelle des autres. Pas de piratage, de contrefaçon ou de violation de droits d'auteur.</li>
			<li>8* Pas de contenu politique ou religieux.</li>
			<li>9* Les modérateurs du forum ont le droit de supprimer ou de modifier tout contenu jugé inapproprié.</li>
			<li>10* Il est interdit de poster des messages offensants, violents ou discriminatoires.</li>
			<li>11* Les spams et les publicités ne sont pas autorisés sur le forum.</li>
			<li>12* Le partage de fichiers illégaux est interdit sur le forum.</li>
			<li>13* Les membres doivent se comporter de manière mature et respectueuse dans toutes les discussions.</li>
			<li>14* Pas de langage abusif ou de propos haineux envers les autres membres ou les modérateurs du forum.</li>
			<li>15* Les débats doivent être menés de manière constructive et respectueuse, sans attaquer les opinions ou les croyances des autres membres.</li>
			<li>16* Les membres ne doivent pas tenter de tromper les autres membres en prétendant être quelqu'un d'autre ou en utilisant des informations trompeuses.</li>
			<li>17* Le partage d'informations personnelles des membres ou de tiers est interdit.</li>
			<li>18* Les discussions sur des sujets illégaux, tels que la vente ou l'achat de drogues, sont interdites.</li>
			<li>19* Les membres ne doivent pas utiliser le forum pour promouvoir ou encourager des activités illégales ou dangereuses.</li>
			<li>20* Les membres ne doivent pas perturber le fonctionnement du forum ou interférer avec les discussions en cours.</li>
			<li>21* Les membres doivent signaler tout comportement inapproprié ou toute violation des règles à un modérateur ou à un administrateur.</li>
			<li>22* Les membres ne doivent pas utiliser le forum pour des activités commerciales ou pour vendre des produits ou des services sans autorisation préalable.</li>
			<li>23* Les membres ne doivent pas utiliser le forum pour des activités politiques, sauf si le forum est spécifiquement dédié à la politique.</li>
		</ol>
	</div>
</div>
<style>
* {
  font-size: 16px;
  
}
	body {
		border: 2px solid #ccc;
		padding: 20px;
		background-color: #f5f5f5;
	}

	h1 {
		border: 1px solid #ccc;
		padding: 10px;
	}

	ol {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		margin-bottom: 10px;
		color: #333;
	}
	h1 {
		font-family: "Arial", sans-serif;
	}
</style>
